extends index.pug
block content
  p Welcome to School Compass 365!
  if role == 'admin'
    p Hi #{name}! A new school profile for #{schoolName} has been created for you.
  else if role == 'student'
    p You have successfully registered as a student on our platform.
  else
    p You have been registered as a teacher on our platform.
  p Here are your login credentials:
    ul
      li Username: #{userName}
      li Password: #{password}
  p We recommend changing your password after your first login for increased security. 
  a(href="https://schoolcompass365.co.in/login")
    button School Compass 365 Login
  p We wish you a successful academic journey!
  p Sincerely, The School Compass 365 Team