extends index.pug
block content
    p Dear #{name},
    div.container
        p We've received a request to reset your password. To proceed, click the link below:
        a(href=link)
            button(type='button').btn.btn-primary School Compass 365 Login
        p If you didn't request this, please contact us immediately.